extends layout

block content
  h1= title
  
  .header
    p.create-new-book
      a(href="/books/new") Create new book

    form.searchForm(action="/books/search")
      input(type="search" name="query" placeholder="Search books...")
      input(type="submit" value="Search")


  table
    thead 
      tr 
        th Title
        th Author 
        th Genre 
        th Year

    tbody 
    for book in books 
      tr
        td 
          a(href=`/books/${book.id}`) #{book.title}
        td= book.author
        td= book.genre
        td= book.year
  

  div.pagination
    if (!query )
      a.button(href=`/books?page=${+page - 1 }`) Prev 
      a.button(href=`/books?page=${+page + 1}`) Next